#header{
    width:100%;
    height:100px;
    background-color:#1976D2;
    color:#FFF;
}
#header p{
    padding-left: 50px;
    font-size: 2em;
    padding-top: 20px;
    font-family: 'Montserrat', sans-serif;
}
#navbar {
    background-color: white;
}
#logoname, a {
    color: white;
    text-decoration: none;
    margin: -7px 0px 0px 0px;
}
.descriptor {
    margin: 80px;
    text-align: center;
    font-size: 50px;
}
.info {
    margin: 10%;
    margin-top: -50px;
    font-size: 40px;
}
.logo {
    width: 50px;
    margin: 0px 5px 0px 0px;
}

#map-canvas{
    margin: 10% 5% 0% 5%;
    padding-top: 50%;
    width: 90%;
}
#locationslist{
    width: 100%;
    height: 100px;
    padding-top: 10px;
    margin-top: 100px;
}
.list-entry {
    height: 40px;
}
#logo{
    width: 50px;
    height:50px;
    vertical-align: middle;
    margin-right: 10px;
}
body{
    height:100%;
}
html{
    background-color: white;
    margin-top: 0px;
}
